version: '2.0'
services:
  gitlab-ce:
    image: 'gitlab/gitlab-ce:latest'
    container_name: 'gitlab-ce'
    restart: always
    hostname: 'gitlab-ce'
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        gitlab_rails['initial_root_password'] = "xA123456"
        gitlab_rails['initial_shared_runners_registration_token'] = "shanghaiptminfo342664c192338721627fdf1956ba5a"
    ports:
      - '80:80'
      - '443:443'
      - '22:22'
    volumes:
      - './gitlab/config:/etc/gitlab'
      - './gitlab/logs:/var/log/gitlab'
      - './gitlab/data:/var/opt/gitlab'
  gitlab-runner-node6:
    image: 'gitlab/gitlab-runner:latest'
    container_name: 'gitlab-runner-node6'
    restart: always
    volumes:
      - './runner/config:/etc/gitlab-runner'
      - '/var/run/docker.sock:/var/run/docker.sock'
    links:
      - gitlab-ce
    environment:
      CI_SERVER_URL: 'http://gitlab-ce'
      REGISTRATION_TOKEN: 'shanghaiptminfo342664c192338721627fdf1956ba5a'
      RUNNER_EXECUTOR: 'docker'
      RUNNER_NAME: 'node6'
      RUNNER_TAG_LIST: 'node,node6'
      DOCKER_IMAGE: 'node:6'
      DOCKER_NETWORK_MODE: 'gitlab'
    #command: /usr/bin/gitlab-runner register -n
networks:
  default:
    external:
      name: gitlab
